// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as TrueFoundry from "../../../index.js";

export declare namespace ArtifactVersionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ArtifactVersionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ArtifactVersionsClient.Options>;

    constructor(options: ArtifactVersionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List artifact versions with optional filtering by tag, FQN, artifact ID, ML Repo, name, version, run IDs, or run steps.
     *
     * @param {TrueFoundry.ArtifactVersionsListRequest} request
     * @param {ArtifactVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.artifactVersions.list({
     *         limit: 10,
     *         offset: 0,
     *         tag: "tag",
     *         fqn: "fqn",
     *         artifact_id: "artifact_id",
     *         ml_repo_id: "ml_repo_id",
     *         name: "name",
     *         run_ids: ["run_ids"],
     *         run_steps: [1.1],
     *         include_internal_metadata: true
     *     })
     */
    public async list(
        request: TrueFoundry.ArtifactVersionsListRequest = {},
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): Promise<core.Page<TrueFoundry.ArtifactVersion, TrueFoundry.ListArtifactVersionsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: TrueFoundry.ArtifactVersionsListRequest,
            ): Promise<core.WithRawResponse<TrueFoundry.ListArtifactVersionsResponse>> => {
                const {
                    limit = 100,
                    offset = 0,
                    tag,
                    fqn,
                    artifact_id: artifactId,
                    ml_repo_id: mlRepoId,
                    name,
                    version,
                    run_ids: runIds,
                    run_steps: runSteps,
                    include_internal_metadata: includeInternalMetadata = false,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    offset,
                    tag,
                    fqn,
                    artifact_id: artifactId,
                    ml_repo_id: mlRepoId,
                    name,
                    version,
                    run_ids: runIds,
                    run_steps: runSteps,
                    include_internal_metadata: includeInternalMetadata,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        "api/svc/v1/artifact-versions",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as TrueFoundry.ListArtifactVersionsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/api/svc/v1/artifact-versions",
                );
            },
        );
        let _offset = request?.offset != null ? request?.offset : 0;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<TrueFoundry.ArtifactVersion, TrueFoundry.ListArtifactVersionsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) => (response?.data ?? []).length >= Math.floor(request?.limit ?? 100),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                _offset += response?.data != null ? response.data.length : 1;
                return list(core.setObjectProperty(request, "offset", _offset));
            },
        });
    }

    /**
     * Apply tags to an artifact version.
     *
     * @param {TrueFoundry.ApplyArtifactVersionTagsRequest} request
     * @param {ArtifactVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.artifactVersions.applyTags({
     *         artifact_version_id: "artifact_version_id",
     *         tags: ["tags"]
     *     })
     */
    public applyTags(
        request: TrueFoundry.ApplyArtifactVersionTagsRequest,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.EmptyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__applyTags(request, requestOptions));
    }

    private async __applyTags(
        request: TrueFoundry.ApplyArtifactVersionTagsRequest,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.EmptyResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/artifact-versions/tags",
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.EmptyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/api/svc/v1/artifact-versions/tags",
        );
    }

    /**
     * Get pre-signed URLs for reading or writing files in an artifact version.
     *
     * @param {TrueFoundry.GetSignedUrLsRequest} request
     * @param {ArtifactVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.artifactVersions.getSignedUrls({
     *         id: "id",
     *         paths: ["paths"],
     *         operation: "READ"
     *     })
     */
    public getSignedUrls(
        request: TrueFoundry.GetSignedUrLsRequest,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.GetSignedUrLsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSignedUrls(request, requestOptions));
    }

    private async __getSignedUrls(
        request: TrueFoundry.GetSignedUrLsRequest,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.GetSignedUrLsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/artifact-versions/signed-urls",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.GetSignedUrLsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/svc/v1/artifact-versions/signed-urls",
        );
    }

    /**
     * Create a multipart upload for large files in an artifact version.
     *
     * @param {TrueFoundry.CreateMultiPartUploadRequest} request
     * @param {ArtifactVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.artifactVersions.createMultiPartUpload({
     *         id: "id",
     *         path: "path",
     *         num_parts: 1.1
     *     })
     */
    public createMultiPartUpload(
        request: TrueFoundry.CreateMultiPartUploadRequest,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.MultiPartUploadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createMultiPartUpload(request, requestOptions));
    }

    private async __createMultiPartUpload(
        request: TrueFoundry.CreateMultiPartUploadRequest,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.MultiPartUploadResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/artifact-versions/signed-urls/multipart",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.MultiPartUploadResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/svc/v1/artifact-versions/signed-urls/multipart",
        );
    }

    /**
     * List files and directories in an artifact version.
     *
     * @param {TrueFoundry.ListFilesRequest} request
     * @param {ArtifactVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.artifactVersions.listFiles({
     *         id: "id"
     *     })
     */
    public async listFiles(
        request: TrueFoundry.ListFilesRequest,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): Promise<core.Page<TrueFoundry.FileInfo, TrueFoundry.ListFilesResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: TrueFoundry.ListFilesRequest,
            ): Promise<core.WithRawResponse<TrueFoundry.ListFilesResponse>> => {
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        "api/svc/v1/artifact-versions/files",
                    ),
                    method: "POST",
                    headers: _headers,
                    contentType: "application/json",
                    queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
                    requestType: "json",
                    body: request,
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as TrueFoundry.ListFilesResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "POST",
                    "/api/svc/v1/artifact-versions/files",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<TrueFoundry.FileInfo, TrueFoundry.ListFilesResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.pagination.nextPageToken != null &&
                !(typeof response?.pagination.nextPageToken === "string" && response?.pagination.nextPageToken === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.pagination.nextPageToken));
            },
        });
    }

    /**
     * Stage an artifact version for upload, returning storage location and version ID.
     *
     * @param {TrueFoundry.StageArtifactRequest} request
     * @param {ArtifactVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.artifactVersions.stage({
     *         manifest: {
     *             metadata: {
     *                 "key": "value"
     *             },
     *             source: {},
     *             step: 1
     *         }
     *     })
     */
    public stage(
        request: TrueFoundry.StageArtifactRequest,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.StageArtifactResponse> {
        return core.HttpResponsePromise.fromPromise(this.__stage(request, requestOptions));
    }

    private async __stage(
        request: TrueFoundry.StageArtifactRequest,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.StageArtifactResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/artifact-versions/stage",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.StageArtifactResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/svc/v1/artifact-versions/stage",
        );
    }

    /**
     * Mark a staged artifact version as failed.
     *
     * @param {TrueFoundry.MarkStageArtifactFailureRequest} request
     * @param {ArtifactVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.artifactVersions.markStageFailure({
     *         id: "id"
     *     })
     */
    public markStageFailure(
        request: TrueFoundry.MarkStageArtifactFailureRequest,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.EmptyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__markStageFailure(request, requestOptions));
    }

    private async __markStageFailure(
        request: TrueFoundry.MarkStageArtifactFailureRequest,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.EmptyResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/artifact-versions/mark-stage-failure",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.EmptyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/svc/v1/artifact-versions/mark-stage-failure",
        );
    }

    /**
     * Get an artifact version by its ID.
     *
     * @param {string} id - Artifact version ID
     * @param {ArtifactVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.artifactVersions.get("id")
     */
    public get(
        id: string,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.GetArtifactVersionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: string,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.GetArtifactVersionResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/artifact-versions/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundry.GetArtifactVersionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/svc/v1/artifact-versions/{id}",
        );
    }

    /**
     * Delete an artifact version by its ID.
     *
     * @param {string} id - Artifact version ID
     * @param {ArtifactVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.artifactVersions.delete("id")
     */
    public delete(
        id: string,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.EmptyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(id, requestOptions));
    }

    private async __delete(
        id: string,
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.EmptyResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/artifact-versions/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.EmptyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/svc/v1/artifact-versions/{id}",
        );
    }
}
