// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as TrueFoundry from "../../../../../index.js";

export declare namespace ClustersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ClustersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ClustersClient.Options>;

    constructor(options: ClustersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get the auto provisioning status for the provided cluster
     *
     * @param {string} id - Cluster id of the cluster
     * @param {ClustersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.UnauthorizedError}
     *
     * @example
     *     await client.internal.clusters.getAutoprovisioningState("id")
     */
    public getAutoprovisioningState(
        id: string,
        requestOptions?: ClustersClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.GetAutoProvisioningStateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAutoprovisioningState(id, requestOptions));
    }

    private async __getAutoprovisioningState(
        id: string,
        requestOptions?: ClustersClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.GetAutoProvisioningStateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/clusters/${core.url.encodePathParam(id)}/autoprovisioning-state`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundry.GetAutoProvisioningStateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new TrueFoundry.UnauthorizedError(
                        _response.error.body as TrueFoundry.HttpError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/svc/v1/clusters/{id}/autoprovisioning-state",
        );
    }
}
