// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as TrueFoundry from "../../../index.js";

export declare namespace PersonalAccessTokensClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class PersonalAccessTokensClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PersonalAccessTokensClient.Options>;

    constructor(options: PersonalAccessTokensClient.Options) {


                        this._options = normalizeClientOptionsWithAuth(options);
                    
    }

    /**
     * List personal access tokens created by the current user.
     *
     * @param {TrueFoundry.PersonalAccessTokensListRequest} request
     * @param {PersonalAccessTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.personalAccessTokens.list({
     *         limit: 10,
     *         offset: 0,
     *         nameSearchQuery: "ci-token"
     *     })
     */
    public async list(request: TrueFoundry.PersonalAccessTokensListRequest = {}, requestOptions?: PersonalAccessTokensClient.RequestOptions): Promise<core.Page<TrueFoundry.VirtualAccount, TrueFoundry.ListPersonalAccessTokenResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(async (request: TrueFoundry.PersonalAccessTokensListRequest): Promise<core.WithRawResponse<TrueFoundry.ListPersonalAccessTokenResponse>> => { const { limit = 100, offset = 0, nameSearchQuery } = request; const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            nameSearchQuery
        }; const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest(); let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers); const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), "api/svc/v1/personal-access-tokens"),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        }); if (_response.ok) {
            return { data: serializers.ListPersonalAccessTokenResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        } if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse
            });
        } return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/personal-access-tokens"); });
        let _offset = request?.offset != null ? request?.offset : 0;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<TrueFoundry.VirtualAccount, TrueFoundry.ListPersonalAccessTokenResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: response => (response?.data ?? []).length > 0 && (request?.limit == null || (response?.data ?? []).length >= request?.limit),
            getItems: response => response?.data ?? [],
            loadPage: response => { _offset += response?.data != null ? response.data.length : 1; return list(core.setObjectProperty(request, "offset", _offset)); }
        });
    }

    /**
     * Create a new personal access token for the current user.
     *
     * @param {TrueFoundry.CreatePersonalAccessTokenRequest} request
     * @param {PersonalAccessTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     * @throws {@link TrueFoundry.ConflictError}
     *
     * @example
     *     await client.personalAccessTokens.create({
     *         name: "my-ci-token"
     *     })
     */
    public create(request: TrueFoundry.CreatePersonalAccessTokenRequest, requestOptions?: PersonalAccessTokensClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.CreatePersonalAccessTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(request: TrueFoundry.CreatePersonalAccessTokenRequest, requestOptions?: PersonalAccessTokensClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.CreatePersonalAccessTokenResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), "api/svc/v1/personal-access-tokens"),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.CreatePersonalAccessTokenRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, omitUndefined: true }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.CreatePersonalAccessTokenResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new TrueFoundry.BadRequestError(_response.error.body, _response.rawResponse);
                case 409: throw new TrueFoundry.ConflictError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/svc/v1/personal-access-tokens");
    }

    /**
     * Revoke all personal access tokens belonging to the user with the given email. Requires tenant admin.
     *
     * @param {TrueFoundry.RevokeAllPersonalAccessTokenRequest} request
     * @param {PersonalAccessTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.personalAccessTokens.revokeAll({
     *         email: "alice@example.com"
     *     })
     */
    public revokeAll(request: TrueFoundry.RevokeAllPersonalAccessTokenRequest, requestOptions?: PersonalAccessTokensClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.RevokeAllPersonalAccessTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__revokeAll(request, requestOptions));
    }

    private async __revokeAll(request: TrueFoundry.RevokeAllPersonalAccessTokenRequest, requestOptions?: PersonalAccessTokensClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.RevokeAllPersonalAccessTokenResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), "api/svc/v1/personal-access-tokens/revoke/all"),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.RevokeAllPersonalAccessTokenRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, omitUndefined: true }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.RevokeAllPersonalAccessTokenResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/svc/v1/personal-access-tokens/revoke/all");
    }

    /**
     * Permanently delete the personal access token with the given ID. This action is irreversible.
     *
     * @param {string} id - System-generated service account ID.
     * @param {PersonalAccessTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.personalAccessTokens.delete("jqfwg345gi25n5ju2yz5iz6m")
     */
    public delete(id: string, requestOptions?: PersonalAccessTokensClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.DeletePersonalAccessTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(id, requestOptions));
    }

    private async __delete(id: string, requestOptions?: PersonalAccessTokensClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.DeletePersonalAccessTokenResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/personal-access-tokens/${core.url.encodePathParam(id)}`),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.DeletePersonalAccessTokenResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/svc/v1/personal-access-tokens/{id}");
    }

    /**
     * Get an existing personal access token by name. If none exists, a new one is created and returned with a fresh token.
     *
     * @param {string} name
     * @param {TrueFoundry.PersonalAccessTokensGetRequest} request
     * @param {PersonalAccessTokensClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     *
     * @example
     *     await client.personalAccessTokens.get("name", {
     *         teamName: "teamName"
     *     })
     */
    public get(name: string, request: TrueFoundry.PersonalAccessTokensGetRequest = {}, requestOptions?: PersonalAccessTokensClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.GetOrCreatePersonalAccessTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(name, request, requestOptions));
    }

    private async __get(name: string, request: TrueFoundry.PersonalAccessTokensGetRequest = {}, requestOptions?: PersonalAccessTokensClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.GetOrCreatePersonalAccessTokenResponse>> {
        const { teamName } = request;
        const _queryParams: Record<string, unknown> = {
            teamName
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/personal-access-tokens/${core.url.encodePathParam(name)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.GetOrCreatePersonalAccessTokenResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new TrueFoundry.BadRequestError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/personal-access-tokens/{name}");
    }
}
