// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as TrueFoundry from "../../../../../index.js";

export declare namespace VcsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class VcsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VcsClient.Options>;

    constructor(options: VcsClient.Options) {


                        this._options = normalizeClientOptionsWithAuth(options);
                    
    }

    /**
     * @param {TrueFoundry.internal.GitRepositoryExistsRequest} request
     * @param {VcsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.internal.vcs.getRepositoryDetails({
     *         repoUrl: "repoURL"
     *     })
     */
    public getRepositoryDetails(request: TrueFoundry.internal.GitRepositoryExistsRequest, requestOptions?: VcsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.GitRepositoryExistsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getRepositoryDetails(request, requestOptions));
    }

    private async __getRepositoryDetails(request: TrueFoundry.internal.GitRepositoryExistsRequest, requestOptions?: VcsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.GitRepositoryExistsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), "api/svc/v1/vcs/repository/details"),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.internal.GitRepositoryExistsRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, omitUndefined: true }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.GitRepositoryExistsResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/svc/v1/vcs/repository/details");
    }

    /**
     * @param {TrueFoundry.internal.GetAuthenticatedVcsurlRequest} request
     * @param {VcsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.internal.vcs.getAuthenticatedUrl({
     *         repoUrl: "repoURL"
     *     })
     */
    public getAuthenticatedUrl(request: TrueFoundry.internal.GetAuthenticatedVcsurlRequest, requestOptions?: VcsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.GetAuthenticatedVcsurlResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getAuthenticatedUrl(request, requestOptions));
    }

    private async __getAuthenticatedUrl(request: TrueFoundry.internal.GetAuthenticatedVcsurlRequest, requestOptions?: VcsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.GetAuthenticatedVcsurlResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), "api/svc/v1/vcs/repository/authenticated-url"),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.internal.GetAuthenticatedVcsurlRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, omitUndefined: true }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.GetAuthenticatedVcsurlResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/svc/v1/vcs/repository/authenticated-url");
    }
}
