// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as TrueFoundry from "../../../../../index.js";

export declare namespace WorkflowsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WorkflowsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WorkflowsClient.Options>;

    constructor(options: WorkflowsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Execute a workflow for the specified application
     *
     * @param {string} applicationId - Id of the application
     * @param {TrueFoundry.internal.ExecuteWorkflowRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.internal.workflows.executeWorkflow("applicationId")
     */
    public executeWorkflow(
        applicationId: string,
        request: TrueFoundry.internal.ExecuteWorkflowRequest = {},
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.internal.WorkflowsExecuteWorkflowResponse> {
        return core.HttpResponsePromise.fromPromise(this.__executeWorkflow(applicationId, request, requestOptions));
    }

    private async __executeWorkflow(
        applicationId: string,
        request: TrueFoundry.internal.ExecuteWorkflowRequest = {},
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.internal.WorkflowsExecuteWorkflowResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/workflow/${core.url.encodePathParam(applicationId)}/executions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundry.internal.WorkflowsExecuteWorkflowResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundry.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/svc/v1/workflow/{applicationId}/executions",
        );
    }
}
