// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as TrueFoundry from "../../../index.js";

export declare namespace AgentSkillsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class AgentSkillsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgentSkillsClient.Options>;

    constructor(options: AgentSkillsClient.Options) {


                        this._options = normalizeClientOptionsWithAuth(options);
                    
    }

    /**
     * Get an agent skill by its ID.
     *
     * @param {string} agent_skill_id - Identifier of the agent skill.
     * @param {AgentSkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.agentSkills.get("agent_skill_id")
     */
    public get(agent_skill_id: string, requestOptions?: AgentSkillsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.GetAgentSkillResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(agent_skill_id, requestOptions));
    }

    private async __get(agent_skill_id: string, requestOptions?: AgentSkillsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.GetAgentSkillResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/agent-skills/${core.url.encodePathParam(agent_skill_id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.GetAgentSkillResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/agent-skills/{agent_skill_id}");
    }

    /**
     * Delete an agent skill by its ID.
     *
     * @param {string} agent_skill_id - Identifier of the agent skill.
     * @param {AgentSkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.agentSkills.delete("agent_skill_id")
     */
    public delete(agent_skill_id: string, requestOptions?: AgentSkillsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.EmptyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(agent_skill_id, requestOptions));
    }

    private async __delete(agent_skill_id: string, requestOptions?: AgentSkillsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.EmptyResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/agent-skills/${core.url.encodePathParam(agent_skill_id)}`),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.EmptyResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/svc/v1/agent-skills/{agent_skill_id}");
    }

    /**
     * List agent skills with optional filtering by FQN, ML Repo, or name.
     *
     * @param {TrueFoundry.AgentSkillsListRequest} request
     * @param {AgentSkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agentSkills.list({
     *         limit: 10,
     *         offset: 0,
     *         fqn: "fqn",
     *         mlRepoId: "ml_repo_id",
     *         name: "name",
     *         includeEmptyAgentSkills: true
     *     })
     */
    public async list(request: TrueFoundry.AgentSkillsListRequest = {}, requestOptions?: AgentSkillsClient.RequestOptions): Promise<core.Page<TrueFoundry.AgentSkill, TrueFoundry.ListAgentSkillsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(async (request: TrueFoundry.AgentSkillsListRequest): Promise<core.WithRawResponse<TrueFoundry.ListAgentSkillsResponse>> => { const { limit = 100, offset = 0, fqn, mlRepoId, name, includeEmptyAgentSkills = true } = request; const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            fqn,
            ml_repo_id: mlRepoId,
            name,
            include_empty_agent_skills: includeEmptyAgentSkills
        }; const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest(); let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers); const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), "api/svc/v1/agent-skills"),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        }); if (_response.ok) {
            return { data: serializers.ListAgentSkillsResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        } if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse
            });
        } return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/agent-skills"); });
        let _offset = request?.offset != null ? request?.offset : 0;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<TrueFoundry.AgentSkill, TrueFoundry.ListAgentSkillsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: response => (response?.data ?? []).length > 0 && (request?.limit == null || (response?.data ?? []).length >= request?.limit),
            getItems: response => response?.data ?? [],
            loadPage: response => { _offset += response?.data != null ? response.data.length : 1; return list(core.setObjectProperty(request, "offset", _offset)); }
        });
    }

    /**
     * Create or update an agent skill version.
     *
     * @param {TrueFoundry.ApplyAgentSkillRequest} request
     * @param {AgentSkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agentSkills.createOrUpdate({
     *         manifest: {
     *             name: "name",
     *             metadata: {
     *                 "key": "value"
     *             },
     *             mlRepo: "ml_repo",
     *             type: "agent-skill",
     *             source: {
     *                 type: "inline",
     *                 skillMd: "skill_md"
     *             }
     *         }
     *     })
     */
    public createOrUpdate(request: TrueFoundry.ApplyAgentSkillRequest, requestOptions?: AgentSkillsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.GetAgentSkillVersionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createOrUpdate(request, requestOptions));
    }

    private async __createOrUpdate(request: TrueFoundry.ApplyAgentSkillRequest, requestOptions?: AgentSkillsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.GetAgentSkillVersionResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), "api/svc/v1/agent-skill-versions"),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.ApplyAgentSkillRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, omitUndefined: true }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.GetAgentSkillVersionResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/api/svc/v1/agent-skill-versions");
    }
}
