// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as TrueFoundry from "../../../../../index.js";

export declare namespace MetricsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MetricsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MetricsClient.Options>;

    constructor(options: MetricsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List charts for a given Application based on parameters passed in the query.
     *
     * @param {string} workspaceId
     * @param {TrueFoundry.internal.MetricsGetChartsRequest} request
     * @param {MetricsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     * @throws {@link TrueFoundry.NotFoundError}
     * @throws {@link TrueFoundry.MethodNotAllowedError}
     *
     * @example
     *     await client.internal.metrics.getCharts("workspaceId", {
     *         applicationId: "applicationId",
     *         startTs: "startTs",
     *         endTs: "endTs",
     *         filterEntity: "application",
     *         filterQuery: "filterQuery"
     *     })
     */
    public getCharts(
        workspaceId: string,
        request: TrueFoundry.internal.MetricsGetChartsRequest,
        requestOptions?: MetricsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.GetChartsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCharts(workspaceId, request, requestOptions));
    }

    private async __getCharts(
        workspaceId: string,
        request: TrueFoundry.internal.MetricsGetChartsRequest,
        requestOptions?: MetricsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.GetChartsResponse>> {
        const { applicationId, startTs, endTs, filterEntity, filterQuery } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams.applicationId = applicationId;
        if (startTs != null) {
            _queryParams.startTs = startTs;
        }

        if (endTs != null) {
            _queryParams.endTs = endTs;
        }

        _queryParams.filterEntity = filterEntity;
        if (filterQuery != null) {
            _queryParams.filterQuery = filterQuery;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/metrics/${core.url.encodePathParam(workspaceId)}/charts`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.GetChartsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundry.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 405:
                    throw new TrueFoundry.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/svc/v1/metrics/{workspaceId}/charts",
        );
    }
}
