// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as TrueFoundry from "../../../../../index.js";

export declare namespace DockerRegistriesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DockerRegistriesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DockerRegistriesClient.Options>;

    constructor(options: DockerRegistriesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a docker repository in the provided workspace.
     *
     * @param {TrueFoundry.internal.CreateDockerRepositoryRequest} request
     * @param {DockerRegistriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.internal.dockerRegistries.createRepository({
     *         fqn: "fqn",
     *         applicationName: "applicationName",
     *         workspaceFqn: "workspaceFqn"
     *     })
     */
    public createRepository(
        request: TrueFoundry.internal.CreateDockerRepositoryRequest,
        requestOptions?: DockerRegistriesClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.internal.DockerRegistriesCreateRepositoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createRepository(request, requestOptions));
    }

    private async __createRepository(
        request: TrueFoundry.internal.CreateDockerRepositoryRequest,
        requestOptions?: DockerRegistriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.internal.DockerRegistriesCreateRepositoryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/docker-registry/create-repo",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundry.internal.DockerRegistriesCreateRepositoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/svc/v1/docker-registry/create-repo",
        );
    }

    /**
     * Get docker registry credentials for building and pushing an image.
     *
     * @param {TrueFoundry.internal.DockerRegistriesGetCredentialsRequest} request
     * @param {DockerRegistriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.internal.dockerRegistries.getCredentials({
     *         fqn: "fqn",
     *         clusterId: "clusterId"
     *     })
     */
    public getCredentials(
        request: TrueFoundry.internal.DockerRegistriesGetCredentialsRequest = {},
        requestOptions?: DockerRegistriesClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.internal.DockerRegistriesGetCredentialsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCredentials(request, requestOptions));
    }

    private async __getCredentials(
        request: TrueFoundry.internal.DockerRegistriesGetCredentialsRequest = {},
        requestOptions?: DockerRegistriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.internal.DockerRegistriesGetCredentialsResponse>> {
        const { fqn, clusterId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (fqn != null) {
            _queryParams.fqn = fqn;
        }

        if (clusterId != null) {
            _queryParams.clusterId = clusterId;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/docker-registry/creds",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundry.internal.DockerRegistriesGetCredentialsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/svc/v1/docker-registry/creds",
        );
    }
}
