// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as TrueFoundry from "../../../index.js";

export declare namespace AgentSkillVersionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class AgentSkillVersionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgentSkillVersionsClient.Options>;

    constructor(options: AgentSkillVersionsClient.Options) {


                        this._options = normalizeClientOptionsWithAuth(options);
                    
    }

    /**
     * List agent skill versions with optional filtering by FQN, agent skill ID, ML Repo, name, or version.
     *
     * @param {TrueFoundry.AgentSkillVersionsListRequest} request
     * @param {AgentSkillVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agentSkillVersions.list({
     *         limit: 10,
     *         offset: 0,
     *         fqn: "fqn",
     *         agentSkillId: "agent_skill_id",
     *         mlRepoId: "ml_repo_id",
     *         name: "name",
     *         version: 1
     *     })
     */
    public async list(request: TrueFoundry.AgentSkillVersionsListRequest = {}, requestOptions?: AgentSkillVersionsClient.RequestOptions): Promise<core.Page<TrueFoundry.AgentSkillVersion, TrueFoundry.ListAgentSkillVersionsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(async (request: TrueFoundry.AgentSkillVersionsListRequest): Promise<core.WithRawResponse<TrueFoundry.ListAgentSkillVersionsResponse>> => { const { limit = 100, offset = 0, fqn, agentSkillId, mlRepoId, name, version } = request; const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            fqn,
            agent_skill_id: agentSkillId,
            ml_repo_id: mlRepoId,
            name,
            version
        }; const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest(); let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers); const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), "api/svc/v1/agent-skill-versions"),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        }); if (_response.ok) {
            return { data: serializers.ListAgentSkillVersionsResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        } if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse
            });
        } return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/agent-skill-versions"); });
        let _offset = request?.offset != null ? request?.offset : 0;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<TrueFoundry.AgentSkillVersion, TrueFoundry.ListAgentSkillVersionsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: response => (response?.data ?? []).length > 0 && (request?.limit == null || (response?.data ?? []).length >= request?.limit),
            getItems: response => response?.data ?? [],
            loadPage: response => { _offset += response?.data != null ? response.data.length : 1; return list(core.setObjectProperty(request, "offset", _offset)); }
        });
    }

    /**
     * Get an agent skill version by its ID.
     *
     * @param {string} agent_skill_version_id - Agent skill version ID
     * @param {AgentSkillVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.agentSkillVersions.get("agent_skill_version_id")
     */
    public get(agent_skill_version_id: string, requestOptions?: AgentSkillVersionsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.GetAgentSkillVersionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(agent_skill_version_id, requestOptions));
    }

    private async __get(agent_skill_version_id: string, requestOptions?: AgentSkillVersionsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.GetAgentSkillVersionResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/agent-skill-versions/${core.url.encodePathParam(agent_skill_version_id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.GetAgentSkillVersionResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/agent-skill-versions/{agent_skill_version_id}");
    }

    /**
     * Delete an agent skill version by its ID.
     *
     * @param {string} agent_skill_version_id - Agent skill version ID
     * @param {AgentSkillVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.agentSkillVersions.delete("agent_skill_version_id")
     */
    public delete(agent_skill_version_id: string, requestOptions?: AgentSkillVersionsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.EmptyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(agent_skill_version_id, requestOptions));
    }

    private async __delete(agent_skill_version_id: string, requestOptions?: AgentSkillVersionsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.EmptyResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/agent-skill-versions/${core.url.encodePathParam(agent_skill_version_id)}`),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.EmptyResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/svc/v1/agent-skill-versions/{agent_skill_version_id}");
    }
}
