// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as TrueFoundry from "../../../../../index.js";

export declare namespace DeploymentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DeploymentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DeploymentsClient.Options>;

    constructor(options: DeploymentsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * This endpoint returns all statuses for a specific deployment in a given application.
     *
     * @param {string} id - Application id of the application
     * @param {string} deploymentId - Deployment id of the deployment
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.internal.deployments.getDeploymentStatuses("id", "deploymentId")
     */
    public getDeploymentStatuses(
        id: string,
        deploymentId: string,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.DeploymentStatus[]> {
        return core.HttpResponsePromise.fromPromise(this.__getDeploymentStatuses(id, deploymentId, requestOptions));
    }

    private async __getDeploymentStatuses(
        id: string,
        deploymentId: string,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.DeploymentStatus[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/apps/${core.url.encodePathParam(id)}/deployments/${core.url.encodePathParam(deploymentId)}/statuses`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.DeploymentStatus[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/svc/v1/apps/{id}/deployments/{deploymentId}/statuses",
        );
    }

    /**
     * This endpoint returns all build details associated with a specific deployment in a given application.
     *
     * @param {string} id - Application id of the application
     * @param {string} deploymentId - Deployment id of the deployment
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.internal.deployments.getBuilds("id", "deploymentId")
     */
    public getBuilds(
        id: string,
        deploymentId: string,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.DeploymentBuild[]> {
        return core.HttpResponsePromise.fromPromise(this.__getBuilds(id, deploymentId, requestOptions));
    }

    private async __getBuilds(
        id: string,
        deploymentId: string,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.DeploymentBuild[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/apps/${core.url.encodePathParam(id)}/deployments/${core.url.encodePathParam(deploymentId)}/builds`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.DeploymentBuild[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/svc/v1/apps/{id}/deployments/{deploymentId}/builds",
        );
    }

    /**
     * Generate presigned URL to upload code for given serviceName and workspaceFqn
     *
     * @param {TrueFoundry.internal.GenerateCodeUploadPresignedUrlRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.internal.deployments.getCodeUploadUrl({
     *         serviceName: "serviceName",
     *         workspaceFqn: "workspaceFqn"
     *     })
     */
    public getCodeUploadUrl(
        request: TrueFoundry.internal.GenerateCodeUploadPresignedUrlRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.PresignedUrlObject> {
        return core.HttpResponsePromise.fromPromise(this.__getCodeUploadUrl(request, requestOptions));
    }

    private async __getCodeUploadUrl(
        request: TrueFoundry.internal.GenerateCodeUploadPresignedUrlRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.PresignedUrlObject>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/deployment/code-upload-url",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.PresignedUrlObject, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/svc/v1/deployment/code-upload-url",
        );
    }

    /**
     * Generate deployment endpoint based on the provided query parameters.
     *
     * @param {TrueFoundry.internal.DeploymentsGetSuggestedEndpointRequest} request
     * @param {DeploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     *
     * @example
     *     await client.internal.deployments.getSuggestedEndpoint({
     *         applicationType: "async-service",
     *         applicationName: "applicationName",
     *         workspaceId: "workspaceId",
     *         baseDomain: "baseDomain",
     *         port: "port",
     *         preferWildcard: true
     *     })
     */
    public getSuggestedEndpoint(
        request: TrueFoundry.internal.DeploymentsGetSuggestedEndpointRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.GetSuggestedDeploymentEndpointResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSuggestedEndpoint(request, requestOptions));
    }

    private async __getSuggestedEndpoint(
        request: TrueFoundry.internal.DeploymentsGetSuggestedEndpointRequest,
        requestOptions?: DeploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.GetSuggestedDeploymentEndpointResponse>> {
        const { applicationType, applicationName, workspaceId, baseDomain, port, preferWildcard = false } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams.applicationType = applicationType;
        _queryParams.applicationName = applicationName;
        _queryParams.workspaceId = workspaceId;
        if (baseDomain != null) {
            _queryParams.baseDomain = baseDomain;
        }

        if (port != null) {
            _queryParams.port = port;
        }

        if (preferWildcard != null) {
            _queryParams.preferWildcard = preferWildcard.toString();
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/deployment/deployment-endpoint",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as TrueFoundry.GetSuggestedDeploymentEndpointResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundry.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/svc/v1/deployment/deployment-endpoint",
        );
    }
}
