// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as TrueFoundry from "../../../../../index.js";

export declare namespace BuildLogsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BuildLogsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BuildLogsClient.Options>;

    constructor(options: BuildLogsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get logs for a given pipeline run by its name, with optional filters and time range.
     *
     * @param {string} pipelineRunName - PipelineRun Name
     * @param {TrueFoundry.internal.BuildLogsGetRequest} request
     * @param {BuildLogsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     *
     * @example
     *     await client.internal.buildLogs.get("pipelineRunName", {
     *         startTs: "1635467890123456789",
     *         endTs: "1635467891123456789",
     *         limit: "limit",
     *         direction: "direction",
     *         numLogsToIgnore: 1.1
     *     })
     */
    public get(
        pipelineRunName: string,
        request: TrueFoundry.internal.BuildLogsGetRequest = {},
        requestOptions?: BuildLogsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.LogsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(pipelineRunName, request, requestOptions));
    }

    private async __get(
        pipelineRunName: string,
        request: TrueFoundry.internal.BuildLogsGetRequest = {},
        requestOptions?: BuildLogsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.LogsResponse>> {
        const { startTs, endTs, limit, direction, filterQuery, numLogsToIgnore } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (startTs != null) {
            _queryParams.startTs = startTs;
        }

        if (endTs != null) {
            _queryParams.endTs = endTs;
        }

        if (limit != null) {
            _queryParams.limit = limit;
        }

        if (direction != null) {
            _queryParams.direction = direction;
        }

        if (filterQuery != null) {
            _queryParams.filterQuery = filterQuery;
        }

        if (numLogsToIgnore != null) {
            _queryParams.numLogsToIgnore = numLogsToIgnore.toString();
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/build-logs/${core.url.encodePathParam(pipelineRunName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.LogsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundry.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/svc/v1/build-logs/{pipelineRunName}",
        );
    }
}
