// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as TrueFoundry from "../../../index.js";

export declare namespace ApplicationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class ApplicationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ApplicationsClient.Options>;

    constructor(options: ApplicationsClient.Options) {


                        this._options = normalizeClientOptionsWithAuth(options);
                    
    }

    /**
     * List applications the caller can read.
     *
     * @param {TrueFoundry.ApplicationsListRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     *
     * @example
     *     await client.applications.list({
     *         limit: 10,
     *         offset: 0,
     *         applicationId: "applicationId",
     *         workspaceId: "workspaceId",
     *         applicationName: "applicationName",
     *         fqn: "fqn",
     *         workspaceFqn: "workspaceFqn",
     *         applicationType: "async-service",
     *         nameSearchQuery: "nameSearchQuery",
     *         environmentId: "environmentId",
     *         clusterId: "clusterId",
     *         applicationSetId: "applicationSetId",
     *         paused: true,
     *         deviceTypeFilter: "cpu",
     *         lastDeployedBySubjects: "lastDeployedBySubjects",
     *         lifecycleStage: "active",
     *         isRecommendationPresentAndVisible: true
     *     })
     */
    public async list(request: TrueFoundry.ApplicationsListRequest = {}, requestOptions?: ApplicationsClient.RequestOptions): Promise<core.Page<TrueFoundry.Application, TrueFoundry.ListApplicationsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(async (request: TrueFoundry.ApplicationsListRequest): Promise<core.WithRawResponse<TrueFoundry.ListApplicationsResponse>> => { const { limit = 100, offset = 0, applicationId, workspaceId, applicationName, fqn, workspaceFqn, applicationType, nameSearchQuery, environmentId, clusterId, applicationSetId, paused, deviceTypeFilter, lastDeployedBySubjects, lifecycleStage, isRecommendationPresentAndVisible } = request; const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            applicationId,
            workspaceId,
            applicationName,
            fqn,
            workspaceFqn,
            applicationType: applicationType != null ? serializers.ApplicationsListRequestApplicationType.jsonOrThrow(applicationType, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, omitUndefined: true }) : undefined,
            nameSearchQuery,
            environmentId,
            clusterId,
            applicationSetId,
            paused,
            deviceTypeFilter: deviceTypeFilter != null ? serializers.ApplicationsListRequestDeviceTypeFilter.jsonOrThrow(deviceTypeFilter, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, omitUndefined: true }) : undefined,
            lastDeployedBySubjects,
            lifecycleStage: lifecycleStage != null ? serializers.ApplicationsListRequestLifecycleStage.jsonOrThrow(lifecycleStage, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, omitUndefined: true }) : undefined,
            isRecommendationPresentAndVisible
        }; const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest(); let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers); const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), "api/svc/v1/apps"),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        }); if (_response.ok) {
            return { data: serializers.ListApplicationsResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        } if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new TrueFoundry.BadRequestError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        } return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/apps"); });
        let _offset = request?.offset != null ? request?.offset : 0;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<TrueFoundry.Application, TrueFoundry.ListApplicationsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: response => (response?.data ?? []).length > 0 && (request?.limit == null || (response?.data ?? []).length >= request?.limit),
            getItems: response => response?.data ?? [],
            loadPage: response => { _offset += response?.data != null ? response.data.length : 1; return list(core.setObjectProperty(request, "offset", _offset)); }
        });
    }

    /**
     * Deploy an application from a manifest. Create the application if it does not exist, otherwise create a new deployment version. Return the resulting deployment.
     *
     * @param {TrueFoundry.CreateDeploymentRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     * @throws {@link TrueFoundry.ConflictError}
     *
     * @example
     *     await client.applications.createOrUpdate({
     *         manifest: {
     *             "key": "value"
     *         }
     *     })
     */
    public createOrUpdate(request: TrueFoundry.CreateDeploymentRequest, requestOptions?: ApplicationsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.GetApplicationDeploymentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createOrUpdate(request, requestOptions));
    }

    private async __createOrUpdate(request: TrueFoundry.CreateDeploymentRequest, requestOptions?: ApplicationsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.GetApplicationDeploymentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), "api/svc/v1/apps"),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.CreateDeploymentRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, omitUndefined: true }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.GetApplicationDeploymentResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400: throw new TrueFoundry.BadRequestError(_response.error.body, _response.rawResponse);
                case 403: throw new TrueFoundry.ForbiddenError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                case 409: throw new TrueFoundry.ConflictError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/api/svc/v1/apps");
    }

    /**
     * Get a single application by its ID.
     *
     * @param {string} id - Unique identifier of the application
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.applications.get("id")
     */
    public get(id: string, requestOptions?: ApplicationsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.GetApplicationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(id: string, requestOptions?: ApplicationsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.GetApplicationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/apps/${core.url.encodePathParam(id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.GetApplicationResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403: throw new TrueFoundry.ForbiddenError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/apps/{id}");
    }

    /**
     * Permanently delete an application. This action cannot be undone.
     *
     * @param {string} id - Unique identifier of the application
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.applications.delete("id")
     */
    public delete(id: string, requestOptions?: ApplicationsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.DeleteApplicationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(id, requestOptions));
    }

    private async __delete(id: string, requestOptions?: ApplicationsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.DeleteApplicationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/apps/${core.url.encodePathParam(id)}`),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.DeleteApplicationResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403: throw new TrueFoundry.ForbiddenError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/svc/v1/apps/{id}");
    }

    /**
     * Redeploy an application by creating a new deployment version using the same manifest as the specified deployment.
     *
     * @param {string} id - Unique identifier of the application
     * @param {string} deploymentId - Unique identifier of the deployment
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.applications.redeploy("id", "deploymentId")
     */
    public redeploy(id: string, deploymentId: string, requestOptions?: ApplicationsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.GetApplicationDeploymentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__redeploy(id, deploymentId, requestOptions));
    }

    private async __redeploy(id: string, deploymentId: string, requestOptions?: ApplicationsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.GetApplicationDeploymentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/apps/${core.url.encodePathParam(id)}/deployments/${core.url.encodePathParam(deploymentId)}/redeploy`),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.GetApplicationDeploymentResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403: throw new TrueFoundry.ForbiddenError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/svc/v1/apps/{id}/deployments/{deploymentId}/redeploy");
    }

    /**
     * Pause a running application.
     *
     * @param {string} id - Unique identifier of the application
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     * @throws {@link TrueFoundry.MethodNotAllowedError}
     * @throws {@link TrueFoundry.NotImplementedError}
     *
     * @example
     *     await client.applications.scaleToZero("id")
     */
    public scaleToZero(id: string, requestOptions?: ApplicationsClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__scaleToZero(id, requestOptions));
    }

    private async __scaleToZero(id: string, requestOptions?: ApplicationsClient.RequestOptions): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/apps/${core.url.encodePathParam(id)}/scale-to-zero`),
            method: "PATCH",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403: throw new TrueFoundry.ForbiddenError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                case 405: throw new TrueFoundry.MethodNotAllowedError(_response.error.body, _response.rawResponse);
                case 501: throw new TrueFoundry.NotImplementedError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/api/svc/v1/apps/{id}/scale-to-zero");
    }

    /**
     * Resume a paused application.
     *
     * @param {string} id - Unique identifier of the application
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     * @throws {@link TrueFoundry.NotImplementedError}
     *
     * @example
     *     await client.applications.scaleToOriginal("id")
     */
    public scaleToOriginal(id: string, requestOptions?: ApplicationsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.Deployment> {
        return core.HttpResponsePromise.fromPromise(this.__scaleToOriginal(id, requestOptions));
    }

    private async __scaleToOriginal(id: string, requestOptions?: ApplicationsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.Deployment>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/apps/${core.url.encodePathParam(id)}/scale-to-original`),
            method: "PATCH",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.Deployment.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403: throw new TrueFoundry.ForbiddenError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                case 501: throw new TrueFoundry.NotImplementedError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/api/svc/v1/apps/{id}/scale-to-original");
    }

    /**
     * Cancel an in-progress deployment.
     *
     * @param {string} id - Unique identifier of the application
     * @param {string} deploymentId - Unique identifier of the deployment
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     * @throws {@link TrueFoundry.ConflictError}
     *
     * @example
     *     await client.applications.cancelDeployment("id", "deploymentId")
     */
    public cancelDeployment(id: string, deploymentId: string, requestOptions?: ApplicationsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.ApplicationsCancelDeploymentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancelDeployment(id, deploymentId, requestOptions));
    }

    private async __cancelDeployment(id: string, deploymentId: string, requestOptions?: ApplicationsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.ApplicationsCancelDeploymentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/apps/${core.url.encodePathParam(id)}/deployments/${core.url.encodePathParam(deploymentId)}/cancel`),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.ApplicationsCancelDeploymentResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403: throw new TrueFoundry.ForbiddenError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                case 409: throw new TrueFoundry.ConflictError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/svc/v1/apps/{id}/deployments/{deploymentId}/cancel");
    }
}
