// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as TrueFoundry from "../../../../../index.js";

export declare namespace ArtifactVersionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ArtifactVersionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ArtifactVersionsClient.Options>;

    constructor(options: ArtifactVersionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List artifact version API
     *
     * @param {TrueFoundry.internal.ArtifactVersionsListRequest} request
     * @param {ArtifactVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.UnprocessableEntityError}
     *
     * @example
     *     await client.internal.artifactVersions.list({
     *         tag: "tag",
     *         fqn: "fqn",
     *         artifact_id: "artifact_id",
     *         ml_repo_id: "ml_repo_id",
     *         name: "name",
     *         version: 1,
     *         offset: 1,
     *         limit: 1,
     *         include_internal_metadata: true,
     *         include_model_versions: true
     *     })
     */
    public async list(
        request: TrueFoundry.internal.ArtifactVersionsListRequest = {},
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): Promise<
        core.Page<
            TrueFoundry.InternalListArtifactVersionsResponseDataItem,
            TrueFoundry.InternalListArtifactVersionsResponse
        >
    > {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: TrueFoundry.internal.ArtifactVersionsListRequest,
            ): Promise<core.WithRawResponse<TrueFoundry.InternalListArtifactVersionsResponse>> => {
                const {
                    tag,
                    fqn,
                    artifact_id: artifactId,
                    ml_repo_id: mlRepoId,
                    name,
                    version,
                    run_ids: runIds,
                    run_steps: runSteps,
                    offset = 0,
                    limit = 100,
                    include_internal_metadata: includeInternalMetadata = false,
                    include_model_versions: includeModelVersions = false,
                } = request;
                const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
                if (tag != null) {
                    _queryParams.tag = tag;
                }
                if (fqn != null) {
                    _queryParams.fqn = fqn;
                }
                if (artifactId != null) {
                    _queryParams.artifact_id = artifactId;
                }
                if (mlRepoId != null) {
                    _queryParams.ml_repo_id = mlRepoId;
                }
                if (name != null) {
                    _queryParams.name = name;
                }
                if (version != null) {
                    _queryParams.version = version.toString();
                }
                if (runIds != null) {
                    if (Array.isArray(runIds)) {
                        _queryParams.run_ids = runIds.map((item) => item);
                    } else {
                        _queryParams.run_ids = runIds;
                    }
                }
                if (runSteps != null) {
                    if (Array.isArray(runSteps)) {
                        _queryParams.run_steps = runSteps.map((item) => item.toString());
                    } else {
                        _queryParams.run_steps = runSteps.toString();
                    }
                }
                if (offset != null) {
                    _queryParams.offset = offset.toString();
                }
                if (limit != null) {
                    _queryParams.limit = limit.toString();
                }
                if (includeInternalMetadata != null) {
                    _queryParams.include_internal_metadata = includeInternalMetadata.toString();
                }
                if (includeModelVersions != null) {
                    _queryParams.include_model_versions = includeModelVersions.toString();
                }
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        "api/ml/v1/x/artifact-versions",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as TrueFoundry.InternalListArtifactVersionsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 422:
                            throw new TrueFoundry.UnprocessableEntityError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.TrueFoundryError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/api/ml/v1/x/artifact-versions",
                );
            },
        );
        let _offset = request?.offset != null ? request?.offset : 0;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<
            TrueFoundry.InternalListArtifactVersionsResponseDataItem,
            TrueFoundry.InternalListArtifactVersionsResponse
        >({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) => {
                const pagination = response?.pagination;
                if (!pagination) return false;
                const currentOffset = pagination.offset ?? 0;
                const dataLength = (response?.data ?? []).length;
                return currentOffset + dataLength < pagination.total;
            },
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                _offset += response?.data != null ? response.data.length : 1;
                return list(core.setObjectProperty(request, "offset", _offset));
            },
        });
    }
}
