// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { toJson } from "../../../../../../core/json.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import type * as TrueFoundry from "../../../../../index.js";

export declare namespace ArtifactVersionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ArtifactVersionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ArtifactVersionsClient.Options>;

    constructor(options: ArtifactVersionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List artifact versions with internal metadata, optionally including model versions.
     *
     * @param {TrueFoundry.internal.ListArtifactVersionsRequest} request
     * @param {ArtifactVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.TrueFoundryError}
     * @throws {@link errors.TrueFoundryTimeoutError}
     *
     * @example
     *     await client.internal.artifactVersions.list({
     *         limit: 10,
     *         offset: 0
     *     })
     */
    public async list(
        request: TrueFoundry.internal.ListArtifactVersionsRequest = {},
        requestOptions?: ArtifactVersionsClient.RequestOptions,
    ): Promise<
        core.Page<
            TrueFoundry.InternalListArtifactVersionsResponseDataItem,
            TrueFoundry.InternalListArtifactVersionsResponse
        >
    > {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: TrueFoundry.internal.ListArtifactVersionsRequest,
            ): Promise<core.WithRawResponse<TrueFoundry.InternalListArtifactVersionsResponse>> => {
                const {
                    limit = 100,
                    offset = 0,
                    tag,
                    fqn,
                    artifactId,
                    mlRepoId,
                    name,
                    version,
                    runIds,
                    runSteps,
                    includeInternalMetadata = false,
                    includeModelVersions = false,
                    artifactTypes,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    offset,
                    tag,
                    fqn,
                    artifact_id: artifactId,
                    ml_repo_id: mlRepoId,
                    name,
                    version,
                    run_ids: runIds !== undefined ? toJson(runIds) : undefined,
                    run_steps: runSteps !== undefined ? toJson(runSteps) : undefined,
                    include_internal_metadata: includeInternalMetadata,
                    include_model_versions: includeModelVersions,
                    artifact_types: artifactTypes,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        "api/svc/v1/x/artifact-versions",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.InternalListArtifactVersionsResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/api/svc/v1/x/artifact-versions",
                );
            },
        );
        let _offset = request?.offset != null ? request?.offset : 0;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<
            TrueFoundry.InternalListArtifactVersionsResponseDataItem,
            TrueFoundry.InternalListArtifactVersionsResponse
        >({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                (response?.data ?? []).length > 0 &&
                (request?.limit == null || (response?.data ?? []).length >= request?.limit),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                _offset += response?.data != null ? response.data.length : 1;
                return list(core.setObjectProperty(request, "offset", _offset));
            },
        });
    }
}
