// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as TrueFoundry from "../../../index.js";

export declare namespace AlertsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AlertsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AlertsClient.Options>;

    constructor(options: AlertsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get alerts for a given application or cluster filtered by start and end timestamp
     *
     * @param {TrueFoundry.AlertsListRequest} request
     * @param {AlertsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     * @throws {@link TrueFoundry.ForbiddenError}
     *
     * @example
     *     await client.alerts.list({
     *         startTs: "startTs",
     *         endTs: "endTs",
     *         clusterId: "clusterId",
     *         applicationId: "applicationId",
     *         alertStatus: "firing"
     *     })
     */
    public list(
        request: TrueFoundry.AlertsListRequest = {},
        requestOptions?: AlertsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.GetAlertsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: TrueFoundry.AlertsListRequest = {},
        requestOptions?: AlertsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.GetAlertsResponse>> {
        const { startTs, endTs, clusterId, applicationId, alertStatus } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (startTs != null) {
            _queryParams.startTs = startTs;
        }

        if (endTs != null) {
            _queryParams.endTs = endTs;
        }

        if (clusterId != null) {
            _queryParams.clusterId = clusterId;
        }

        if (applicationId != null) {
            _queryParams.applicationId = applicationId;
        }

        if (alertStatus != null) {
            _queryParams.alertStatus = alertStatus;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/alerts",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.GetAlertsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundry.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new TrueFoundry.ForbiddenError(
                        _response.error.body as TrueFoundry.HttpError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/alerts");
    }
}
