// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as TrueFoundry from "../../../index.js";

export declare namespace AgentVersionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgentVersionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgentVersionsClient.Options>;

    constructor(options: AgentVersionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List Agent Versions for the provided agent id
     *
     * @param {TrueFoundry.AgentVersionsListRequest} request
     * @param {AgentVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agentVersions.list({
     *         limit: 10,
     *         offset: 0,
     *         id: "id"
     *     })
     */
    public async list(
        request: TrueFoundry.AgentVersionsListRequest = {},
        requestOptions?: AgentVersionsClient.RequestOptions,
    ): Promise<core.Page<TrueFoundry.AgentVersion, TrueFoundry.ListAgentVersionsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: TrueFoundry.AgentVersionsListRequest,
            ): Promise<core.WithRawResponse<TrueFoundry.ListAgentVersionsResponse>> => {
                const { limit = 100, offset = 0, id } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    offset,
                    id,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        "api/svc/v1/agent-versions",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as TrueFoundry.ListAgentVersionsResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/api/svc/v1/agent-versions",
                );
            },
        );
        let _offset = request?.offset != null ? request?.offset : 0;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<TrueFoundry.AgentVersion, TrueFoundry.ListAgentVersionsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) => (response?.data ?? []).length >= Math.floor(request?.limit ?? 100),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                _offset += response?.data != null ? response.data.length : 1;
                return list(core.setObjectProperty(request, "offset", _offset));
            },
        });
    }
}
