// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as TrueFoundry from "../../../index.js";
import { AiGatewayClient } from "../resources/aiGateway/client/Client.js";
import { ApplicationsClient } from "../resources/applications/client/Client.js";
import { ArtifactVersionsClient } from "../resources/artifactVersions/client/Client.js";
import { BuildLogsClient } from "../resources/buildLogs/client/Client.js";
import { ClustersClient } from "../resources/clusters/client/Client.js";
import { DeploymentsClient } from "../resources/deployments/client/Client.js";
import { DockerRegistriesClient } from "../resources/dockerRegistries/client/Client.js";
import { MetricsClient } from "../resources/metrics/client/Client.js";
import { MlClient } from "../resources/ml/client/Client.js";
import { UsersClient } from "../resources/users/client/Client.js";
import { VcsClient } from "../resources/vcs/client/Client.js";
import { WorkflowsClient } from "../resources/workflows/client/Client.js";

export declare namespace InternalClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class InternalClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InternalClient.Options>;
    protected _users: UsersClient | undefined;
    protected _aiGateway: AiGatewayClient | undefined;
    protected _clusters: ClustersClient | undefined;
    protected _deployments: DeploymentsClient | undefined;
    protected _applications: ApplicationsClient | undefined;
    protected _metrics: MetricsClient | undefined;
    protected _vcs: VcsClient | undefined;
    protected _dockerRegistries: DockerRegistriesClient | undefined;
    protected _workflows: WorkflowsClient | undefined;
    protected _buildLogs: BuildLogsClient | undefined;
    protected _artifactVersions: ArtifactVersionsClient | undefined;
    protected _ml: MlClient | undefined;

    constructor(options: InternalClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get users(): UsersClient {
        return (this._users ??= new UsersClient(this._options));
    }

    public get aiGateway(): AiGatewayClient {
        return (this._aiGateway ??= new AiGatewayClient(this._options));
    }

    public get clusters(): ClustersClient {
        return (this._clusters ??= new ClustersClient(this._options));
    }

    public get deployments(): DeploymentsClient {
        return (this._deployments ??= new DeploymentsClient(this._options));
    }

    public get applications(): ApplicationsClient {
        return (this._applications ??= new ApplicationsClient(this._options));
    }

    public get metrics(): MetricsClient {
        return (this._metrics ??= new MetricsClient(this._options));
    }

    public get vcs(): VcsClient {
        return (this._vcs ??= new VcsClient(this._options));
    }

    public get dockerRegistries(): DockerRegistriesClient {
        return (this._dockerRegistries ??= new DockerRegistriesClient(this._options));
    }

    public get workflows(): WorkflowsClient {
        return (this._workflows ??= new WorkflowsClient(this._options));
    }

    public get buildLogs(): BuildLogsClient {
        return (this._buildLogs ??= new BuildLogsClient(this._options));
    }

    public get artifactVersions(): ArtifactVersionsClient {
        return (this._artifactVersions ??= new ArtifactVersionsClient(this._options));
    }

    public get ml(): MlClient {
        return (this._ml ??= new MlClient(this._options));
    }

    /**
     * Get IDs associated with the FQN for various entity types, such as deployment, application, workspace, or cluster.
     *
     * @param {string} type - Entity Type
     * @param {TrueFoundry.InternalGetIdFromFqnRequest} request
     * @param {InternalClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.internal.getIdFromFqn("type", {
     *         fqn: "fqn"
     *     })
     */
    public getIdFromFqn(
        type: string,
        request: TrueFoundry.InternalGetIdFromFqnRequest,
        requestOptions?: InternalClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__getIdFromFqn(type, request, requestOptions));
    }

    private async __getIdFromFqn(
        type: string,
        request: TrueFoundry.InternalGetIdFromFqnRequest,
        requestOptions?: InternalClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { fqn } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams.fqn = fqn;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/fqn/${core.url.encodePathParam(type)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundry.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/fqn/{type}");
    }
}
