// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as TrueFoundry from "../../../index.js";

export declare namespace JobsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class JobsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<JobsClient.Options>;

    constructor(options: JobsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List Job Runs for provided Job Id. Filter the data based on parameters passed in the query
     *
     * @param {string} jobId - Job id of the application
     * @param {TrueFoundry.JobsListRunsRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     * @throws {@link TrueFoundry.UnprocessableEntityError}
     *
     * @example
     *     await client.jobs.listRuns("jobId", {
     *         limit: 10,
     *         offset: 0,
     *         searchPrefix: "searchPrefix",
     *         sortBy: "startTime",
     *         order: "asc"
     *     })
     */
    public async listRuns(
        jobId: string,
        request: TrueFoundry.JobsListRunsRequest = {},
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.Page<TrueFoundry.JobRun, TrueFoundry.ListJobRunResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: TrueFoundry.JobsListRunsRequest,
            ): Promise<core.WithRawResponse<TrueFoundry.ListJobRunResponse>> => {
                const {
                    limit = 100,
                    offset = 0,
                    searchPrefix,
                    sortBy,
                    order,
                    triggeredBy,
                    status,
                    versionNumbers,
                } = request;
                const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
                if (limit != null) {
                    _queryParams.limit = limit.toString();
                }
                if (offset != null) {
                    _queryParams.offset = offset.toString();
                }
                if (searchPrefix != null) {
                    _queryParams.searchPrefix = searchPrefix;
                }
                if (sortBy != null) {
                    _queryParams.sortBy = sortBy;
                }
                if (order != null) {
                    _queryParams.order = order;
                }
                if (triggeredBy != null) {
                    if (Array.isArray(triggeredBy)) {
                        _queryParams.triggeredBy = triggeredBy.map((item) => item);
                    } else {
                        _queryParams.triggeredBy = triggeredBy;
                    }
                }
                if (status != null) {
                    if (Array.isArray(status)) {
                        _queryParams.status = status.map((item) => item);
                    } else {
                        _queryParams.status = status;
                    }
                }
                if (versionNumbers != null) {
                    if (Array.isArray(versionNumbers)) {
                        _queryParams.versionNumbers = versionNumbers.map((item) => item.toString());
                    } else {
                        _queryParams.versionNumbers = versionNumbers.toString();
                    }
                }
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)),
                        `api/svc/v1/jobs/${core.url.encodePathParam(jobId)}/runs`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as TrueFoundry.ListJobRunResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 403:
                            throw new TrueFoundry.ForbiddenError(
                                _response.error.body as TrueFoundry.HttpError,
                                _response.rawResponse,
                            );
                        case 404:
                            throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                        case 422:
                            throw new TrueFoundry.UnprocessableEntityError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.TrueFoundryError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/api/svc/v1/jobs/{jobId}/runs",
                );
            },
        );
        let _offset = request?.offset != null ? request?.offset : 0;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<TrueFoundry.JobRun, TrueFoundry.ListJobRunResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) => (response?.data ?? []).length >= Math.floor(request?.limit ?? 100),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                _offset += response?.data != null ? response.data.length : 1;
                return list(core.setObjectProperty(request, "offset", _offset));
            },
        });
    }

    /**
     * Get Job Run for provided jobRunName and jobId
     *
     * @param {string} jobId - Application Id of JOB
     * @param {string} jobRunName - Job run name of the application
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.jobs.getRun("jobId", "jobRunName")
     */
    public getRun(
        jobId: string,
        jobRunName: string,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.GetJobRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getRun(jobId, jobRunName, requestOptions));
    }

    private async __getRun(
        jobId: string,
        jobRunName: string,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.GetJobRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/jobs/${core.url.encodePathParam(jobId)}/runs/${core.url.encodePathParam(jobRunName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.GetJobRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new TrueFoundry.ForbiddenError(
                        _response.error.body as TrueFoundry.HttpError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/svc/v1/jobs/{jobId}/runs/{jobRunName}",
        );
    }

    /**
     * Delete Job Run for provided jobRunName and jobId
     *
     * @param {string} jobId - Application Id of JOB
     * @param {string} jobRunName - Job run name of the application
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     * @throws {@link TrueFoundry.ConflictError}
     *
     * @example
     *     await client.jobs.deleteRun("jobId", "jobRunName")
     */
    public deleteRun(
        jobId: string,
        jobRunName: string,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.DeleteJobRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteRun(jobId, jobRunName, requestOptions));
    }

    private async __deleteRun(
        jobId: string,
        jobRunName: string,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.DeleteJobRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/jobs/${core.url.encodePathParam(jobId)}/runs/${core.url.encodePathParam(jobRunName)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.DeleteJobRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new TrueFoundry.ForbiddenError(
                        _response.error.body as TrueFoundry.HttpError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new TrueFoundry.ConflictError(
                        _response.error.body as TrueFoundry.HttpError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/svc/v1/jobs/{jobId}/runs/{jobRunName}",
        );
    }

    /**
     * Trigger Job for provided deploymentId or applicationId
     *
     * @param {TrueFoundry.TriggerJobRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     * @throws {@link TrueFoundry.UnprocessableEntityError}
     *
     * @example
     *     await client.jobs.trigger()
     */
    public trigger(
        request: TrueFoundry.TriggerJobRequest = {},
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.TriggerJobRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__trigger(request, requestOptions));
    }

    private async __trigger(
        request: TrueFoundry.TriggerJobRequest = {},
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.TriggerJobRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/jobs/trigger",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.TriggerJobRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundry.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new TrueFoundry.ForbiddenError(
                        _response.error.body as TrueFoundry.HttpError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new TrueFoundry.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/svc/v1/jobs/trigger");
    }

    /**
     * Terminate Job for provided deploymentId and jobRunName
     *
     * @param {TrueFoundry.JobsTerminateRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     * @throws {@link TrueFoundry.ExpectationFailedError}
     * @throws {@link TrueFoundry.UnprocessableEntityError}
     *
     * @example
     *     await client.jobs.terminate({
     *         deploymentId: "deploymentId",
     *         jobRunName: "jobRunName"
     *     })
     */
    public terminate(
        request: TrueFoundry.JobsTerminateRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.TerminateJobResponse> {
        return core.HttpResponsePromise.fromPromise(this.__terminate(request, requestOptions));
    }

    private async __terminate(
        request: TrueFoundry.JobsTerminateRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.TerminateJobResponse>> {
        const { deploymentId, jobRunName } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams.deploymentId = deploymentId;
        _queryParams.jobRunName = jobRunName;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/jobs/terminate",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.TerminateJobResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new TrueFoundry.ForbiddenError(
                        _response.error.body as TrueFoundry.HttpError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 417:
                    throw new TrueFoundry.ExpectationFailedError(
                        _response.error.body as TrueFoundry.HttpError,
                        _response.rawResponse,
                    );
                case 422:
                    throw new TrueFoundry.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/svc/v1/jobs/terminate");
    }
}
