// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as TrueFoundry from "../../../index.js";

export declare namespace ApplicationVersionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {
    }
}

export class ApplicationVersionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ApplicationVersionsClient.Options>;

    constructor(options: ApplicationVersionsClient.Options) {


                        this._options = normalizeClientOptionsWithAuth(options);
                    
    }

    /**
     * List deployments for a given application. Each deployment is a new version of the application.
     *
     * @param {string} id - Unique identifier of the application
     * @param {TrueFoundry.ApplicationVersionsListRequest} request
     * @param {ApplicationVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.applicationVersions.list("id", {
     *         limit: 10,
     *         offset: 0,
     *         version: "1",
     *         deploymentId: "deployment123"
     *     })
     */
    public async list(id: string, request: TrueFoundry.ApplicationVersionsListRequest = {}, requestOptions?: ApplicationVersionsClient.RequestOptions): Promise<core.Page<TrueFoundry.Deployment, TrueFoundry.ListApplicationDeploymentsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(async (request: TrueFoundry.ApplicationVersionsListRequest): Promise<core.WithRawResponse<TrueFoundry.ListApplicationDeploymentsResponse>> => { const { limit = 100, offset = 0, version, deploymentId } = request; const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            version,
            deploymentId
        }; const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest(); let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers); const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/apps/${core.url.encodePathParam(id)}/deployments`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().addMany(_queryParams).mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        }); if (_response.ok) {
            return { data: serializers.ListApplicationDeploymentsResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        } if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403: throw new TrueFoundry.ForbiddenError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        } return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/apps/{id}/deployments"); });
        let _offset = request?.offset != null ? request?.offset : 0;
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<TrueFoundry.Deployment, TrueFoundry.ListApplicationDeploymentsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: response => (response?.data ?? []).length > 0 && (request?.limit == null || (response?.data ?? []).length >= request?.limit),
            getItems: response => response?.data ?? [],
            loadPage: response => { _offset += response?.data != null ? response.data.length : 1; return list(core.setObjectProperty(request, "offset", _offset)); }
        });
    }

    /**
     * Get a single deployment by application ID and deployment ID.
     *
     * @param {string} id - Unique identifier of the application
     * @param {string} deploymentId - Unique identifier of the deployment
     * @param {ApplicationVersionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.ForbiddenError}
     * @throws {@link TrueFoundry.NotFoundError}
     *
     * @example
     *     await client.applicationVersions.get("id", "deploymentId")
     */
    public get(id: string, deploymentId: string, requestOptions?: ApplicationVersionsClient.RequestOptions): core.HttpResponsePromise<TrueFoundry.GetApplicationDeploymentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, deploymentId, requestOptions));
    }

    private async __get(id: string, deploymentId: string, requestOptions?: ApplicationVersionsClient.RequestOptions): Promise<core.WithRawResponse<TrueFoundry.GetApplicationDeploymentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(await core.Supplier.get(this._options.baseUrl) ?? await core.Supplier.get(this._options.environment), `api/svc/v1/apps/${core.url.encodePathParam(id)}/deployments/${core.url.encodePathParam(deploymentId)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging
        });
        if (_response.ok) {
            return { data: serializers.GetApplicationDeploymentResponse.parseOrThrow(_response.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403: throw new TrueFoundry.ForbiddenError(serializers.HttpError.parseOrThrow(_response.error.body, { unrecognizedObjectKeys: "passthrough", allowUnrecognizedUnionMembers: true, allowUnrecognizedEnumValues: true, skipValidation: true, breadcrumbsPrefix: ["response"] }), _response.rawResponse);
                case 404: throw new TrueFoundry.NotFoundError(_response.error.body, _response.rawResponse);
                default: throw new errors.TrueFoundryError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.body,
                    rawResponse: _response.rawResponse
                });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/apps/{id}/deployments/{deploymentId}");
    }
}
