// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as TrueFoundry from "../../../index.js";

export declare namespace LogsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LogsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LogsClient.Options>;

    constructor(options: LogsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Fetch logs for various workload components, including Services, Jobs, Workflows, Job Runs, and Pods. Logs are filtered based on the provided query parameters.
     *
     * @param {TrueFoundry.LogsGetRequest} request
     * @param {LogsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     *
     * @example
     *     await client.logs.get({
     *         startTs: 1000000,
     *         endTs: 1000000,
     *         limit: 1,
     *         direction: "asc",
     *         numLogsToIgnore: 1,
     *         applicationId: "applicationId",
     *         applicationFqn: "applicationFqn",
     *         deploymentId: "deploymentId",
     *         jobRunName: "jobRunName",
     *         podName: "podName",
     *         containerName: "containerName",
     *         podNamesRegex: "podNamesRegex",
     *         searchFilters: "searchFilters",
     *         searchString: "searchString",
     *         searchType: "regex",
     *         searchOperator: "equal"
     *     })
     */
    public get(
        request: TrueFoundry.LogsGetRequest = {},
        requestOptions?: LogsClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.GetLogsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: TrueFoundry.LogsGetRequest = {},
        requestOptions?: LogsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.GetLogsResponse>> {
        const {
            startTs,
            endTs,
            limit,
            direction,
            numLogsToIgnore,
            applicationId,
            applicationFqn,
            deploymentId,
            jobRunName,
            podName,
            containerName,
            podNames,
            podNamesRegex,
            searchFilters,
            searchString,
            searchType,
            searchOperator,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (startTs != null) {
            _queryParams.startTs = startTs.toString();
        }

        if (endTs != null) {
            _queryParams.endTs = endTs.toString();
        }

        if (limit != null) {
            _queryParams.limit = limit.toString();
        }

        if (direction != null) {
            _queryParams.direction = direction;
        }

        if (numLogsToIgnore != null) {
            _queryParams.numLogsToIgnore = numLogsToIgnore.toString();
        }

        if (applicationId != null) {
            _queryParams.applicationId = applicationId;
        }

        if (applicationFqn != null) {
            _queryParams.applicationFqn = applicationFqn;
        }

        if (deploymentId != null) {
            _queryParams.deploymentId = deploymentId;
        }

        if (jobRunName != null) {
            _queryParams.jobRunName = jobRunName;
        }

        if (podName != null) {
            _queryParams.podName = podName;
        }

        if (containerName != null) {
            _queryParams.containerName = containerName;
        }

        if (podNames != null) {
            if (Array.isArray(podNames)) {
                _queryParams.podNames = podNames.map((item) => item);
            } else {
                _queryParams.podNames = podNames;
            }
        }

        if (podNamesRegex != null) {
            _queryParams.podNamesRegex = podNamesRegex;
        }

        if (searchFilters != null) {
            _queryParams.searchFilters = searchFilters;
        }

        if (searchString != null) {
            _queryParams.searchString = searchString;
        }

        if (searchType != null) {
            _queryParams.searchType = searchType;
        }

        if (searchOperator != null) {
            _queryParams.searchOperator = searchOperator;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "api/svc/v1/logs",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.GetLogsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundry.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/svc/v1/logs");
    }
}
