// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as TrueFoundry from "../../../../../index.js";

export declare namespace AiGatewayClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AiGatewayClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AiGatewayClient.Options>;

    constructor(options: AiGatewayClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get Gateway configuration based on type for the tenant.
     *
     * @param {TrueFoundry.internal.AiGatewayGetGatewayConfigRequestType} type - Type of Config
     * @param {AiGatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.internal.aiGateway.getGatewayConfig("gateway-rate-limiting-config")
     */
    public getGatewayConfig(
        type: TrueFoundry.internal.AiGatewayGetGatewayConfigRequestType,
        requestOptions?: AiGatewayClient.RequestOptions,
    ): core.HttpResponsePromise<TrueFoundry.GatewayConfiguration> {
        return core.HttpResponsePromise.fromPromise(this.__getGatewayConfig(type, requestOptions));
    }

    private async __getGatewayConfig(
        type: TrueFoundry.internal.AiGatewayGetGatewayConfigRequestType,
        requestOptions?: AiGatewayClient.RequestOptions,
    ): Promise<core.WithRawResponse<TrueFoundry.GatewayConfiguration>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/llm-gateway/config/${core.url.encodePathParam(type)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TrueFoundry.GatewayConfiguration, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.TrueFoundryError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/svc/v1/llm-gateway/config/{type}",
        );
    }
}
