// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as TrueFoundry from "../../../../../index.js";

export declare namespace ApplicationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ApplicationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ApplicationsClient.Options>;

    constructor(options: ApplicationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Promote an application rollout for canary and blue-green.
     *
     * @param {string} id - Id of the application
     * @param {TrueFoundry.internal.ApplicationsPromoteRolloutRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.NotFoundError}
     * @throws {@link TrueFoundry.MethodNotAllowedError}
     *
     * @example
     *     await client.internal.applications.promoteRollout("id", {
     *         full: true
     *     })
     */
    public promoteRollout(
        id: string,
        request: TrueFoundry.internal.ApplicationsPromoteRolloutRequest = {},
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__promoteRollout(id, request, requestOptions));
    }

    private async __promoteRollout(
        id: string,
        request: TrueFoundry.internal.ApplicationsPromoteRolloutRequest = {},
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { full = false } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (full != null) {
            _queryParams.full = full.toString();
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/apps/${core.url.encodePathParam(id)}/rollout/promote`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new TrueFoundry.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 405:
                    throw new TrueFoundry.MethodNotAllowedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/svc/v1/apps/{id}/rollout/promote",
        );
    }

    /**
     * This endpoint fetches the pod template hash to deployment version map for a specific application.
     *
     * @param {string} id - Id of the application
     * @param {TrueFoundry.internal.ApplicationsGetPodTemplateHashToDeploymentVersionRequest} request
     * @param {ApplicationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TrueFoundry.BadRequestError}
     *
     * @example
     *     await client.internal.applications.getPodTemplateHashToDeploymentVersion("id", {
     *         podTemplateHashes: "podTemplateHashes"
     *     })
     */
    public getPodTemplateHashToDeploymentVersion(
        id: string,
        request: TrueFoundry.internal.ApplicationsGetPodTemplateHashToDeploymentVersionRequest = {},
        requestOptions?: ApplicationsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, number>> {
        return core.HttpResponsePromise.fromPromise(
            this.__getPodTemplateHashToDeploymentVersion(id, request, requestOptions),
        );
    }

    private async __getPodTemplateHashToDeploymentVersion(
        id: string,
        request: TrueFoundry.internal.ApplicationsGetPodTemplateHashToDeploymentVersionRequest = {},
        requestOptions?: ApplicationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, number>>> {
        const { podTemplateHashes } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (podTemplateHashes != null) {
            _queryParams.podTemplateHashes = podTemplateHashes;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `api/svc/v1/apps/${core.url.encodePathParam(id)}/pod-template-hash-deployment-version-map`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, number>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TrueFoundry.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.TrueFoundryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/svc/v1/apps/{id}/pod-template-hash-deployment-version-map",
        );
    }
}
